* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

::-webkit-scrollbar {
  display: none; }

.App {
  overflow-y: hidden; }

.backRight {
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  background: #997b36; }

.backLeft {
  position: fixed;
  left: 0;
  width: 50%;
  height: 100%;
  background: #b39b63;
  display: flex;
  flex-direction: row; }
  .backLeft__logo {
    display: flex;
    margin: 0 auto;
    margin-top: 40%; }
    .backLeft__logo img {
      width: 200px;
      height: 200px; }

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999; }

.canvas-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%; }

label {
  font-size: 0.8em;
  text-transform: uppercase; }

input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 8px 1px;
  margin-top: 0.1em; }

.left {
  width: 50%;
  height: 100%;
  overflow: scroll;
  background: #2C3034;
  left: 0;
  position: absolute; }
  .left label {
    color: #e3e3e3; }
  .left input {
    border-bottom: 1px solid #e3e3e3;
    color: #e3e3e3; }
    .left input:focus, .left input:active {
      border-color: #997b36;
      color: #997b36; }
    .left input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #2C3034 inset;
      -webkit-text-fill-color: #e3e3e3; }
  .left a {
    color: #997b36; }

.right {
  width: 50%;
  height: 100%;
  overflow: scroll;
  background: #f9f9f9;
  right: 0;
  position: absolute; }
  .right label {
    color: #212121; }
  .right input {
    border-bottom: 1px solid #212121; }
    .right input:focus, .right input:active {
      border-color: #b39b63; }
    .right input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #f9f9f9 inset;
      -webkit-text-fill-color: #212121; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative; }

.content h2 {
  font-weight: 300;
  font-size: 2.6em;
  margin: 0.2em 0 0.1em; }

.left .content h2 {
  color: #997b36; }

.right .content h2 {
  color: #b39b63; }

.form-element {
  margin: 1.6em 0; }
  .form-element.form-submit {
    margin: 1.6em 0 0; }

.form-stack {
  display: flex;
  flex-direction: column; }

.checkbox {
  -webkit-appearance: none;
  outline: none;
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 4px;
  display: inline-block;
  position: relative; }

.checkbox:focus, .checkbox:checked:focus,
.checkbox:active, .checkbox:checked:active {
  border-color: #997b36;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

.checkbox:checked {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); }

.checkbox:checked:after {
  outline: none;
  content: '\2713';
  color: #997b36;
  font-size: 1.4em;
  font-weight: 900;
  position: absolute;
  top: -4px;
  left: 4px; }

.form-checkbox {
  display: flex;
  align-items: center; }
  .form-checkbox label {
    margin: 0 6px 0;
    font-size: 0.72em; }

button {
  padding: 0.8em 1.2em;
  margin: 0 10px 0 0;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.6px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s; }
  button.signup {
    background: #997b36; }
  button.login {
    background: #b39b63; }
  button.off {
    background: none;
    box-shadow: none;
    margin: 0; }
    button.off.signup {
      color: #997b36; }
    button.off.login {
      color: #b39b63; }

button:focus, button:active, button:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); }
  button:focus.signup, button:active.signup, button:hover.signup {
    background: #997b36; }
  button:focus.login, button:active.login, button:hover.login {
    background: #b39b63; }
  button:focus.off, button:active.off, button:hover.off {
    box-shadow: none; }
    button:focus.off.signup, button:active.off.signup, button:hover.off.signup {
      color: #997b36;
      background: #212121; }
    button:focus.off.login, button:active.off.login, button:hover.off.login {
      color: #b39b63;
      background: #e3e3e3; }

@media only screen and (max-width: 768px) {
  #slideBox {
    width: 100%;
    margin-left: 0% !important; }
  .signup-info, .login-info {
    display: none; } }

#picOne, #picTwo, #picThree, #picFour, #picLast {
  display: flex;
  display: none;
  flex-direction: column;
  justitfy-content: center;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 20px; }

#picTwo, #picThree, #picFour {
  width: 68%; }

#pics {
  justitfy-content: center;
  align-items: center; }

.animatedPicture {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 15%;
  width: 100vw;
  height: 100vh; }

.button_a {
  text-decoration: none;
  color: white;
  padding: 10px 10px; }

.errorhandling {
  color: #997b36; }

.songmee {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 auto;
  border-radius: 150px;
  animation: play 1.5s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 40%; }

.songmee:before {
  position: absolute;
  top: 13px;
  right: 16px;
  border-radius: 100px;
  border: solid 15px #fff;
  z-index: 99998;
  transform: rotate(45deg);
  transform-origin: bottom; }

.songmee:after {
  background-size: 100% 100%;
  content: '';
  background-image: url("../img/speaker.png");
  line-height: 205px;
  color: #fff;
  font-size: 150px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: absolute;
  border-radius: 150px;
  z-index: 99999 !important; }

.songmee:hover {
  animation: none;
  transform: scale(1.2);
  transition: .5s; }

@keyframes play {
  0% {
    transform: scale(1); }
  15% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2); }
  25% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2), 0 0 0 35px rgba(255, 255, 255, 0.2); }
  30% {
    transform: scale(1.2); }
  50% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2), 0 0 0 35px rgba(255, 255, 255, 0.2), 0 0 0 55px rgba(255, 255, 255, 0.2); }
  80% {
    transform: scale(1); } }

.ForgetPasswordA {
  font-size: 12px;
  color: #b39b63;
  cursor: pointer; }

.ForgetPasswordDiv {
  padding-top: 10px; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: url("../img/otis_redding.png") repeat; }

.downloadpage {
  height: 100vh;
  background: url("../img/otis_redding.png") repeat; }

@media only screen and (max-width: 385px) {
  .downloadpage {
    margin-left: -58px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; } }

.container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: url("../img/otis_redding.png") repeat; }

.iPhone-5c {
  background: url("../img/iphonese-final.png") no-repeat;
  float: left;
  background-size: 100%;
  width: 100%;
  height: 730px;
  margin-bottom: 10px; }

.app-image {
  float: left;
  background-size: 100%;
  width: 268px;
  margin: 67px 57px; }

.map-pin {
  background: #b39b63;
  border: 3px solid #FFF;
  height: 13px;
  width: 13px;
  position: relative;
  top: 260px;
  left: 145px;
  border-radius: 50px;
  z-index: 10; }

.download {
  margin: 5px auto;
  justify-content: center;
  text-align: center; }

.download h1 {
  font-size: 1.5em;
  line-height: 1.250em;
  color: #FFFFFF;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 10px; }

.download .app-store-link {
  float: left;
  background-size: 140px;
  width: 140px;
  height: 47px;
  margin: 0 16px 25px;
  cursor: pointer; }

#SlideOne, #SlideTwo, #SlideThree, #SlideFour, #SlideLast {
  display: none;
  image-size: 101%; }

.downoad_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .downoad_image img {
    width: 200px;
    margin-left: 5px; }

.text_app {
  font-size: 12px;
  color: white; }

@media only screen and (max-width: 385px) {
  .downoad_image img {
    width: 130px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px; } }

.Terms__container {
  display: flex;
  flex-direction: column;
  background-color: #b39b63; }
  .Terms__container-text {
    padding: 20px 220px 0px 220px;
    margin: 0 auto;
    justify-content: center;
    align-items: center; }
    .Terms__container-text h1, .Terms__container-text h2, .Terms__container-text h3 {
      color: #522d2d;
      padding-top: 10px; }
    .Terms__container-text p, .Terms__container-text ul, .Terms__container-text li {
      color: #464646; }
    .Terms__container-text-heading {
      text-align: center;
      padding-bottom: 20px; }
    @media screen and (max-width: 800px) {
      .Terms__container-text {
        padding: 10px !important; } }
  .Terms__container img {
    padding: 100px 0;
    justify-content: center;
    align-items: center; }
  .Terms__container a {
    text-align: center; }

.Terms__container {
  display: flex;
  flex-direction: column;
  background-color: #b39b63; }
  .Terms__container-text {
    padding: 20px 220px 0px 220px;
    margin: 0 auto;
    justify-content: center;
    align-items: center; }
    .Terms__container-text h1, .Terms__container-text h2, .Terms__container-text h3 {
      color: #522d2d;
      padding-top: 10px; }
    .Terms__container-text p, .Terms__container-text ul, .Terms__container-text li {
      color: #464646; }
    .Terms__container-text-heading {
      text-align: center;
      padding-bottom: 20px; }
    @media screen and (max-width: 800px) {
      .Terms__container-text {
        padding: 10px !important; } }
  .Terms__container img {
    padding: 100px 0;
    justify-content: center;
    align-items: center; }
  .Terms__container a {
    text-align: center; }

.ForgetPassword {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .ForgetPassword__inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    background: #f9f9f912;
    border-bottom: 1px solid #b39b636e;
    border-top: 1px solid #b39b636e; }

.ForgetPassword__inside--input {
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 11px 43px;
  margin-top: 0.1em;
  border-bottom: 1px solid #b39b63;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  background: #c5c5c5;
  justify-content: center;
  border-radius: 4px;
  color: #997b36; }

.ForgetPassword__button {
  background: #b39b63;
  border: none;
  width: 200px;
  HEIGHT: 40px;
  border-radius: 3px;
  color: white;
  font-size: 16px; }

.ForgetPassword__button2 {
  background: #b39b63;
  border: none;
  width: 232px;
  HEIGHT: 55px;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  margin-top: 20px; }

.ForgetPassword__button:hover {
  box-shadow: 0 0 6px 0px #464646; }

.ForgetPassword__wrong {
  padding-top: 10px;
  color: #6d0f0f;
  font-size: 16px; }

.ForgetPassword__check {
  padding-top: 10px;
  color: #6d0f0f;
  font-size: 16px; }

.ForgetPassword__inside--logo {
  width: 200px;
  margin-bottom: 20px; }
