
* {
margin: 0;
padding: 0;
}

$theme-signup: #997b36;
$theme-signup-darken: #997b36;
$theme-signup-background: #2C3034;
$theme-login: #b39b63;
$theme-login-darken: #b39b63;
$theme-login-background: #f9f9f9;
$theme-dark: #212121;
$theme-light: #e3e3e3;
$font-default: 'Roboto', sans-serif;

$success: #5cb85c;
$error: #d9534f;

body {
  font-family: $font-default;

}
::-webkit-scrollbar {
    display: none;
}
.App {
  overflow-y: hidden;
}

.backRight {
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  background: $theme-signup;
}

.backLeft {
  position: fixed;
  left: 0;
  width: 50%;
  height: 100%;
  background: $theme-login;
  display: flex;
  flex-direction: row;
  &__logo {
    display: flex;
    margin: 0 auto;
    margin-top: 40%;
    img {
      width: 200px;
      height: 200px;
    }
  }
}

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

.canvas-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

label {
  font-size: 0.8em;
  text-transform: uppercase;
}

input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 8px 1px;
  margin-top: 0.1em;
}

.left {
  width: 50%;
  height: 100%;
  overflow: scroll;
  background: $theme-signup-background;
  left: 0;
  position: absolute;
  label {
    color: $theme-light;
  }
  input {
    border-bottom: 1px solid $theme-light;
    color: $theme-light;
    &:focus, &:active {
      border-color: $theme-signup;
      color: $theme-signup;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px $theme-signup-background inset;
      -webkit-text-fill-color: $theme-light;
    }
  }
  a {
    color: $theme-signup;
  }
}

.right {
  width: 50%;
  height: 100%;
  overflow: scroll;
  background: $theme-login-background;
  right: 0;
  position: absolute;
  label {
    color: $theme-dark;
  }
  input {
    border-bottom: 1px solid $theme-dark;
    &:focus, &:active {
      border-color: $theme-login;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px $theme-login-background inset;
      -webkit-text-fill-color: $theme-dark;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.content h2 {
  font-weight: 300;
  font-size: 2.6em;
  margin: 0.2em 0 0.1em;
}

.left .content h2 {
  color: $theme-signup;
}

.right .content h2 {
  color: $theme-login;
}

.form-element {
  margin: 1.6em 0;
  &.form-submit {
    margin: 1.6em 0 0;
  }
}

.form-stack {
  display: flex;
  flex-direction: column;
}

.checkbox {
  -webkit-appearance: none;
  outline: none;
  background-color: $theme-light;
  border: 1px solid $theme-light;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.checkbox:focus, .checkbox:checked:focus,
.checkbox:active, .checkbox:checked:active {
  border-color: $theme-signup;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
  outline: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}

.checkbox:checked:after {
  outline: none;
  content: '\2713';
  color: $theme-signup;
  font-size: 1.4em;
  font-weight: 900;
  position: absolute;
  top: -4px;
  left: 4px;
}

.form-checkbox {
  display: flex;
  align-items: center;

  label {
    margin: 0 6px 0;
    font-size: 0.72em;
  }
}

button {
  padding: 0.8em 1.2em;
  margin: 0 10px 0 0;
  width: auto;
  font-weight: 600;
  text-transform:  uppercase;
  font-size: 1em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.6px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s;
  &.signup {
    background: $theme-signup;
  }
  &.login {
    background: $theme-login;
  }
  &.off {
    background: none;
    box-shadow: none;
    margin: 0;

    &.signup {
      color: $theme-signup;
    }
    &.login {
      color: $theme-login;
    }
  }
}

button:focus, button:active, button:hover {
  box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  &.signup {
    background: $theme-signup-darken;
  }
  &.login {
    background: $theme-login-darken;
  }
  &.off {
    box-shadow: none;
    &.signup {
      color: $theme-signup;
      background: $theme-dark;
    }
    &.login {
      color: $theme-login-darken;
      background: $theme-light;
    }
  }
}

@media only screen and (max-width: 768px) {
  #slideBox {
    width: 100%;
    margin-left: 0%!important;
  }
  .signup-info, .login-info {
    display: none;
  }
}

#picOne, #picTwo, #picThree, #picFour, #picLast {
  display: flex;
  display: none;
  flex-direction: column;
  justitfy-content: center;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 20px;
}
#picTwo, #picThree, #picFour {
  width: 68%;
}


#pics {
  justitfy-content: center;
  align-items: center;

}

.animatedPicture {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 15%;
    width: 100vw;
    height: 100vh;
}
.button_a {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
}
.errorhandling {
  color: #997b36;
}

.songmee {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 auto;
  border-radius: 150px;
  animation: play 1.5s ease infinite;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 40%;
}
  .songmee:before {

    position: absolute;
    top: 13px;
    right: 16px;
    border-radius: 100px;
    border: solid 15px #fff;
    z-index: 99998;
    transform: rotate(45deg);
    transform-origin: bottom;
    }
  .songmee:after {
    background-size: 100% 100%;
    content: '';
    background-image: url('../img/speaker.png');
    line-height: 205px;
    color: #fff;
    font-size: 150px;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: absolute;
    border-radius: 150px;
    z-index: 99999 !important;
    }
  .songmee:hover {
    animation: none;
    transform: scale(1.2);
    transition: .5s;
  }
@keyframes play {
  0% {
    transform: scale(1);
    }
  15% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2);
    }
  25% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2), 0 0 0 35px rgba(255, 255, 255, 0.2);
    }
  30% {
    transform: scale(1.2)
    }
  50% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2), 0 0 0 35px rgba(255, 255, 255, 0.2), 0 0 0 55px rgba(255, 255, 255, 0.2);
    }
  80% {
    transform: scale(1);
    }
  }

  .ForgetPasswordA {
    font-size: 12px;
    color: #b39b63;
    cursor: pointer;
}
.ForgetPasswordDiv {
  padding-top: 10px;
}
