body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: url("../img/otis_redding.png") repeat;

}
.downloadpage {
  height: 100vh;
  //width: 100vw;
    background: url("../img/otis_redding.png") repeat;

}

@media only screen and (max-width: 385px) {
  .downloadpage {
    margin-left: -58px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
}

.container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: url("../img/otis_redding.png") repeat;
}
.iPhone-5c {
  background: url("../img/iphonese-final.png") no-repeat;
  float: left;
  background-size: 100%;
  width: 100%;
  height: 730px;
  margin-bottom: 10px;
}
.app-image {
  float: left;
  background-size: 100%;
//width: 267px;
//height: 474px;
// margin: 135px 115px;
  width: 268px;
 // height: 474px;
  margin: 67px 57px;
}
.map-pin {
  background: #b39b63;
  border: 3px solid #FFF;
  height: 13px;
  width: 13px;
  position: relative;
  top: 260px;
  left: 145px;
  border-radius: 50px;
  z-index: 10;
}
.download {
  margin: 5px auto;
  justify-content: center;
  text-align: center;
}
.download h1 {
  font-size: 1.5em;
  line-height: 1.250em;
  color: #FFFFFF;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 10px;
}
.download .app-store-link {
  float: left;
  background-size: 140px;
  width: 140px;
  height: 47px;
  margin: 0 16px 25px;
  cursor: pointer;
}
#SlideOne, #SlideTwo, #SlideThree, #SlideFour, #SlideLast {
  display: none;
  image-size: 101%;
}
.downoad_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img {
    width: 200px;
    margin-left: 5px;
   }
}
.text_app {
  font-size: 12px;
  color: white;
}
@media only screen and (max-width: 385px) {
  .downoad_image {
  img {
    width: 130px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
   }
  }
}
