.ForgetPassword {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
    background: #f9f9f912;
    border-bottom: 1px solid #b39b636e;
    border-top: 1px solid #b39b636e;
    }
}
.ForgetPassword__inside--input {
    border: 0;
    outline: 0;
    font-size: 1em;
    padding: 11px 43px;
    margin-top: 0.1em;
    border-bottom: 1px solid #b39b63;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    background: #c5c5c5;
    justify-content: center;
    border-radius: 4px;
    color: #997b36;
}

.ForgetPassword__button {
    background: #b39b63;
    border: none;
    width: 200px;
    HEIGHT: 40px;
    border-radius: 3px;
    color: white;
    font-size: 16px;
}
.ForgetPassword__button2 {
    background: #b39b63;
    border: none;
    width: 232px;
    HEIGHT: 55px;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}
.ForgetPassword__button:hover {
  box-shadow: 0 0 6px 0px #464646;
}
.ForgetPassword__wrong {
    padding-top: 10px;
    color: #6d0f0f;
    font-size: 16px;
}
.ForgetPassword__check {
    padding-top: 10px;
    color: #6d0f0f;
    font-size: 16px;
}
.ForgetPassword__inside--logo {
    width: 200px;
    margin-bottom: 20px;
}
