.Terms__container {
	display: flex;
	flex-direction: column;
	background-color: $theme-login;
	&-text {
		padding: 20px 220px 0px 220px;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		h1, h2, h3 {
		color: #522d2d;
		padding-top: 10px;
		}
		p, ul, li {
			color: #464646;
		}
		&-heading {
			text-align: center;
			padding-bottom: 20px;
		}
    @media screen and ( max-width: 800px ) {
      padding: 10px !important;
    }
	}
	img {
		padding: 100px 0;
		justify-content: center;
		align-items: center;
	}
	a {
		text-align: center;
	}
}
