
/*body {font-family:"Averia Sans Libre";font-size:48px;}
.container {position:relative;width:400px;margin:100px auto 0;text-align:center;}
*/
a {
  text-decoration: none;
  color: #777;
}

a:before {
  content: "";
  background: #F38630;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  transform: scaleX(0);
  -webkit-transform: scale(0);
  animation: 1s forwards no-hover-v linear;
  -webkit-animation: 1s forwards no-hover-v linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  z-index: -1;
}

a:hover:before,
a:focus:before {
  animation: .5s forwards hover-v linear;
  -webkit-animation: .5s forwards hover-v linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes hover-v {
  0% {
      transform: scaleX(0);
      -webkit-transform: scale(0);
      height: 5px;
     }
  45% {   
      transform: scaleX(1);
      -webkit-transform: scale(1);
      height: 5px;
     }
  55% {height: 5px;}
  100% {
      transform: scaleX(1);
      -webkit-transform: scale(1);
      height: 55px;
     }
}
@-webkit-keyframes hover-v {
  0% {
      transform: scaleX(0);
      -webkit-transform: scale(0);
      height: 5px;
     }
  45% {   
      transform: scaleX(1);
      -webkit-transform: scale(1);
      height: 5px;
     }
  55% {height: 5px;}
  100% {
      transform: scaleX(1);
      -webkit-transform: scale(1);
      height: 55px;
     }
}

@keyframes no-hover-v {
  0% {
      transform: scaleX(1);
      -webkit-transform: scale(1);
      height: 55px;
     }
  45% {height: 5px;}
  55% {   
      transform: scaleX(1);
      -webkit-transform: scale(1);
      height: 5px;
      opacity: 1;
     }
  
  100% {
      transform: scaleX(0);
      height: 5px;
      opacity: .02;
     }
}
@-webkit-keyframes no-hover-v {
  0% {
      transform: scaleX(1);
      -webkit-transform: scale(1);
      height: 55px;
     }
  45% {height: 5px;}
  55% {   
      transform: scaleX(1);
      -webkit-transform: scale(1);
      height: 5px;
      opacity: 1;
     }
  
  100% {
      transform: scaleX(0);
      height: 5px;
      opacity: .02;
     }
}

/*
webkit for chrome/safari
add -moz, -o, -ms for more browser support
*/